@page
@model CookieApplication.Pages.Account.LoginModel
@{
}
@{
    ViewData["Title"] = "Log in";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/self.css">
</head>
<h1>@ViewData["Title"]</h1>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post" height="550px">
                    <h3>Login</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" id="username" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" id="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="social">
                        <div class="go"><i class="fab fa-google"></i>  Google</div>
                        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
                </form>
            </section>
        </div>
    </div>
</body>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

